---
import { subMinutes } from "date-fns";
import * as z from "zod";
import { actions, isInputError } from "astro:actions";

import {
  getListingVolunteers,
  VOLUNTEER_LIMIT,
  TECH_LIMIT,
} from "~/api/volunteer";
import { getShowListings } from "~/api/getShowListings";
import { formatShowTime } from "~/utils/formatShowTime";
import { formatEst } from "~/utils/formatEst";
import InternalLayout from "~/layouts/InternalLayout.astro";

const { data: listingId } = z
  .number({ coerce: true })
  .safeParse(Astro.params.listingId);

if (!listingId) {
  return Astro.redirect("/internal/volunteer");
}

const upcomingShows = await getShowListings();
const listing = upcomingShows.find((show) => show.id === listingId);
if (!listing) {
  return Astro.redirect("/internal/volunteer");
}

const listingVolunteers = await getListingVolunteers(listing.id);

const arriveTime = (() => {
  const fortyFiveMinutesBefore = subMinutes(listing.date, 45);
  return formatEst(fortyFiveMinutesBefore, "h:mm a");
})();

const volunteerCount = listingVolunteers.reduce(
  (acc, curr) => {
    switch (curr.role) {
      case "tech":
        return {
          ...acc,
          tech: acc.tech + 1,
        };
      case "volunteer":
        return {
          ...acc,
          volunteer: acc.volunteer + 1,
        };
      default:
        return acc;
    }
  },
  { volunteer: 0, tech: 0 },
);
const allSlotsFilled =
  volunteerCount.tech >= TECH_LIMIT &&
  volunteerCount.volunteer >= VOLUNTEER_LIMIT;

const volunteerActionResult = Astro.getActionResult(actions.volunteer);
const unvolunteerActionResult = Astro.getActionResult(actions.unvolunteer);

const handleActionResult = (
  actionResult: NonNullable<
    typeof volunteerActionResult | typeof unvolunteerActionResult
  >,
  successMsg: string,
): Response => {
  const errorMessages: Array<string> | null = (() => {
    if (!actionResult.error) {
      return null;
    }

    if (isInputError(actionResult.error)) {
      const fields = actionResult.error.fields;
      return Object.keys(fields).map((field) =>
        fields[field as keyof typeof fields]!.join(", "),
      );
    }

    return [actionResult.error.message];
  })();

  const redirectUrl = new URL(Astro.url.pathname, Astro.url.origin);

  if (errorMessages) {
    errorMessages.forEach((errMsg) => {
      redirectUrl.searchParams.append("error", errMsg);
    });
  } else {
    redirectUrl.searchParams.append("success", successMsg);
  }

  return Astro.redirect(redirectUrl.toString());
};

if (volunteerActionResult) {
  return handleActionResult(
    volunteerActionResult,
    "Success! Thank you for your support!",
  );
}

if (unvolunteerActionResult) {
  return handleActionResult(
    unvolunteerActionResult,
    "You have successfully unvolunteered.",
  );
}

const searchParams = Astro.url.searchParams;
const successMessage = searchParams.get("success");
const errorMessages = searchParams.has("error")
  ? searchParams.getAll("error")
  : null;
---

<style>
  input,
  select {
    @apply block rounded px-3 py-2 border-2 border-primary-purple bg-white w-full;
  }

  button[type="submit"] {
    @apply px-5 py-2 bg-coral hover:bg-[#B7433C] transition-colors text-peach font-serif rounded;
  }

  button[id="remove-volunteer-btn"] {
    @apply px-3 py-1 mt-4 ml-auto border border-coral rounded hover:bg-coral transition-colors;
  }

  .result-msg {
    @apply px-4 py-2 border-2 text-black;
  }
</style>

<script
  is:inline
  src="https://challenges.cloudflare.com/turnstile/v0/api.js"
  async
  defer></script>

<script>
  const unvolunteerDialog = document.getElementById(
    "unvolunteer-dialog",
  ) as HTMLDialogElement | null;

  document
    .getElementById("remove-volunteer-btn")
    ?.addEventListener("click", () => {
      unvolunteerDialog?.showModal();
    });
</script>

<InternalLayout
  title={`Volunteer for ${listing.name}`}
  class="max-w-xl m-auto p-6 lg:px-12 flex flex-col gap-12"
>
  <section>
    <a
      href="/internal/volunteer"
      class="text-primary-purple underline block mb-4"
    >
      &lt; Back to show list
    </a>
    <h1 class="text-2xl font-bold">Volunteer for {listing.name}</h1>
    <p class="m-2">
      Show time is <span class="font-bold">{formatShowTime(listing.date)}</span>
    </p>
    <p class="m-2">
      Please arrive by <span class="font-bold">{arriveTime}</span>
    </p>
  </section>
  {
    successMessage ? (
      <p class="result-msg bg-green-200 border-green-800">{successMessage}</p>
    ) : null
  }
  {
    errorMessages ? (
      <div class="result-msg bg-red-200 border-red-800">
        <ul>
          {errorMessages.map((errMsg) => (
            <li>{errMsg}</li>
          ))}
        </ul>
      </div>
    ) : null
  }
  <section class="flex flex-col w-full">
    <h2 class="text-lg font-bold">Current Volunteers</h2>
    <ul class="pl-8">
      {
        listingVolunteers.length > 0 ? (
          listingVolunteers.map((volunteerInfo) => (
            <li class="list-disc pt-2">
              {`${volunteerInfo.firstName} ${volunteerInfo.lastName}`}
              <span class="capitalize">{` (${volunteerInfo.role})`}</span>
            </li>
          ))
        ) : (
          <li class="pt-2">~ No one, but hopefully you 🙏 ~</li>
        )
      }
    </ul>
    {
      listingVolunteers.length > 0 ? (
        <button id="remove-volunteer-btn">Remove sign up</button>
      ) : null
    }
    <dialog id="unvolunteer-dialog" class="bg-peach p-4 rounded-md">
      <form
        method="POST"
        action={actions.unvolunteer}
        enctype="multipart/form-data"
        class="flex flex-col gap-4"
      >
        <h2 class="text-2xl font-bold">Are you sure?</h2>
        <p>
          Are you sure you want to remove your volunteer sign up for this event?
        </p>

        <div class="flex flex-col gap-2">
          <label for="unvolunteer-email">
            If so, please type the email you used to sign up.
          </label>
          <input
            id="unvolunteer-email"
            name="email"
            type="email"
            autocomplete="email"
            required
            maxlength="254"
          />
        </div>

        <div
          class="cf-turnstile"
          data-sitekey={import.meta.env.TURNSTILE_SITE_KEY}
          data-theme="light"
          data-appearance="interaction-only"
        >
        </div>

        <div role="group" class="flex gap-4 ml-auto">
          <button formmethod="dialog" formnovalidate class="px-5 py-2">
            Cancel
          </button>
          <button type="submit">Confirm</button>
        </div>
      </form>
    </dialog>
  </section>

  {
    allSlotsFilled ? (
      <p class="result-msg bg-amber-100 border-amber-400">
        All volunteer slots for this event are filled.
      </p>
    ) : (
      <form
        method="POST"
        action={actions.volunteer}
        enctype="multipart/form-data"
        class="flex flex-col gap-4 max-w-xl"
      >
        <div>
          <label for="firstName">First Name</label>
          <input
            id="firstName"
            name="firstName"
            type="text"
            autocomplete="given-name"
            required
            minlength="1"
            maxlength="35"
            disabled={allSlotsFilled}
          />
        </div>
        <div>
          <label for="lastName">Last Name</label>
          <input
            id="lastName"
            name="lastName"
            type="text"
            autocomplete="family-name"
            required
            minlength="1"
            maxlength="35"
            disabled={allSlotsFilled}
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            maxlength="254"
            disabled={allSlotsFilled}
          />
        </div>
        <div>
          <label for="role">Role</label>
          <select id="role" name="role" required disabled={allSlotsFilled}>
            <option
              value="volunteer"
              disabled={volunteerCount.volunteer >= VOLUNTEER_LIMIT}
            >
              Volunteer
            </option>
            <option value="tech" disabled={volunteerCount.tech >= TECH_LIMIT}>
              Tech
            </option>
          </select>
        </div>
        <div
          class="cf-turnstile"
          data-sitekey={import.meta.env.TURNSTILE_SITE_KEY}
          data-theme="light"
          data-appearance="interaction-only"
        />
        <button type="submit" disabled={allSlotsFilled}>
          Submit
        </button>
      </form>
    )
  }
</InternalLayout>
