---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { Image } from "astro:assets";
import { getTeam } from "~/api/getTeams";
import ChipLink from "~/components/ChipLink.astro";
import RootLayout from "~/layouts/RootLayout.astro";

const { team: teamSlug } = Astro.params;
if (!teamSlug) return Astro.redirect("/");

const team = await getTeam(teamSlug);
if (!team) return new Response(null, { status: 404 });
---

<RootLayout title={team.teamName} class="flex flex-col gap-8">
  <h1 class="text-gradient text-5xl font-bold m-auto">{team.teamName}</h1>
  {
    team.teamHeader ? (
      <Image
        src={team.teamHeader}
        alt={team.teamName}
        width={1440}
        height={1000}
        class="w-full aspect-auto"
      />
    ) : null
  }
  <div
    class="wysiwyg overflow-hidden max-w-screen-md m-auto"
    set:html={documentToHtmlString(team.teamBio)}
  />
  <section>
    <h2 class="text-xl font-bold text-center mb-4">Featuring</h2>
    <ul class="flex justify-center gap-2">
      {
        team.teamMembers.map((member) => (
          <li>
            <ChipLink href={`/performers/${member.fields.slug}`}>
              {member.fields.fullName}
            </ChipLink>
          </li>
        ))
      }
    </ul>
  </section>
</RootLayout>
