---
import type { HTMLAttributes } from "astro/types";
import { renderRichText } from "@storyblok/astro";

export type CalloutCardProps = {
  title: string;
  subtitle: string;
  description: string;
  thumbnail: {
    alt: string;
    filename: string;
  };
  callToActionLink: {
    target: HTMLAttributes<"a">["target"];
    url: string;
  };
  callToActionText: string;
};

type Props = {
  blok: CalloutCardProps;
};

const { blok } = Astro.props;

const renderedRichText = renderRichText(blok.description);
---

<a
  class="block rounded overflow-hidden shadow-xl h-full relative pb-20"
  href={blok.callToActionLink.url}
  target={blok.callToActionLink.target}
>
  <div class="w-full h-48">
    <img src={blok.thumbnail.filename} alt={blok.thumbnail.alt} />
  </div>
  <div class="p-4 mt-3 text-ellipsis overflow-hidden">
    <h3 class="text-xl uppercase">{blok.title}</h3>
    <div class="mt-2 flex flex-col gap-2" set:html={renderedRichText} />
  </div>
  <p class="border-2 border-violet-600 uppercase py-2 px-4 w-fit rounded-full text-violet-600 text-sm font-semibold my-3 absolute bottom-5 left-0 right-0 mx-auto">
    {blok.callToActionText}
  </p>
</a>
