---
import type { HTMLAttributes } from "astro/types";
import { format } from "date-fns";

export type UpcomingShowCardProps = {
  date: string;
  title: string;
  description: string;
  thumbnail: {
    alt: string;
    filename: string;
  };
  ticketsLink: {
    target: HTMLAttributes<"a">["target"];
    url: string;
  };
};

type Props = {
  blok: UpcomingShowCardProps;
};

const { blok } = Astro.props;
const showDate = new Date(blok.date);
---

<a
  class="block rounded overflow-hidden shadow-xl"
  href={blok.ticketsLink.url}
  target={blok.ticketsLink.target}
>
  <p
    class="bg-violet-500 text-center py-2 text-white text-lg border-b-4 border-pink-300"
  >
    {format(showDate, "E, LLL dd")}
    {` at `}
    {format(showDate, "h:m a")}
  </p>
  <div class="w-full h-36">
    <img src={blok.thumbnail.filename} alt={blok.thumbnail.alt} />
  </div>
  <div class="p-4 mt-3 h-60 text-ellipsis overflow-hidden">
    <h3 class="text-xl uppercase">{blok.title}</h3>
    <p class="mt-3 h-36 text-ellipsis overflow-hidden font-light">
      {blok.description}
    </p>
  </div>
  <p class="text-right bg-red-200 bg-opacity-60 p-2 text-red-700 uppercase">
    Get Tickets
  </p>
</a>
