---
import FullLogo from "~/images/CATCh-full-big-nobg.webp";
import { Icon } from "../Icon.tsx";

import { socialMediaLinkList } from "~/utils/socialMediaLinkList.ts";
import { routeCategories, routes } from "./routes.ts";
import "~/styles/mobile-nav.scss";

const activePath = Astro.url.pathname;
---

<script>
  const drawer = document.getElementById("nav-drawer") as HTMLDialogElement;
  const drawerTrigger = document.getElementById(
    "drawer-trigger",
  ) as HTMLButtonElement;
  const drawerClose = document.getElementById(
    "drawer-close",
  ) as HTMLButtonElement;

  drawer.addEventListener("click", (e) => {
    const drawerDimensions = drawer.getBoundingClientRect();
    if (
      e.clientX < drawerDimensions.left ||
      e.clientX > drawerDimensions.right ||
      e.clientY < drawerDimensions.top ||
      e.clientY > drawerDimensions.bottom
    ) {
      drawer.close();
    }
  });

  drawerTrigger.addEventListener("click", () => {
    drawer.showModal();
  });

  drawerClose.addEventListener("click", () => {
    drawer.close();
  });
</script>

<nav class="flex justify-between items-center p-2">
  <a href="/" class="shrink-0" aria-label="Home">
    <img
      src={FullLogo.src}
      class="w-52 -translate-y-2"
      alt="CATCh - Comedy Arts Theater of Charlotte"
    />
  </a>
  <button
    id="drawer-trigger"
    type="button"
    class="py-2 px-3 hover:bg-purple-400 hover:bg-opacity-20 transition-colors rounded-md flex flex-col items-center text-primary-purple"
  >
    <Icon fill="currentColor" icon="menu" />
    <span class="text-sm font-bold">Menu</span>
  </button>
  <dialog
    id="nav-drawer"
    class="drawer m-0 fixed right-0 ml-auto h-screen max-h-none bg-primary-purple overflow-auto"
  >
    <button
      id="drawer-close"
      type="button"
      class="py-2 px-3 hover:bg-purple-400 hover:bg-opacity-20 transition-colors rounded-md m-2 ml-auto text-peach flex flex-col items-center"
    >
      <Icon fill="currentColor" icon="close" height="36" width="36" />
      <span class="text-sm font-bold -mt-1">Close</span>
    </button>

    <ul class="flex flex-col gap-8 p-6">
      <li>
        <a
          href="/"
          aria-current={activePath === "/" ? "page" : undefined}
          class="block font-serif text-3xl text-peach font-bold aria-[current=page]:text-coral"
        >
          Home
        </a>
      </li>
      {
        routeCategories.map((routeCategory) => (
          <li>
            <a
              href={routes[routeCategory][0].path}
              class="block font-serif text-3xl text-peach font-bold"
            >
              {routeCategory}
            </a>
            <ul class="p-4 pt-1">
              {routes[routeCategory].map((route) => (
                <li>
                  <a
                    href={route.path}
                    aria-current={
                      activePath === route.path ? "page" : undefined
                    }
                    target={route.isExternal ? "_blank" : undefined}
                    class="block text-peach border-b-2 border-b-light-purple text-xl py-3 aria-[current=page]:text-coral"
                  >
                    {route.label}
                    {route.isExternal ? (
                      <span aria-hidden="true">&nbsp;↗</span>
                    ) : null}
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
    <ul class="flex justify-evenly m-auto p-6">
      {
        socialMediaLinkList.map((socialLink) => (
          <li>
            <a href={socialLink.path} target="_blank">
              <span class="sr-only">{socialLink.label}</span>
              <Icon
                icon={socialLink.remixIcon}
                fill="var(--light-purple)"
                width="36"
                height="36"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </dialog>
</nav>
