---
import { format } from "date-fns";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { Show } from "~/api/getShows";
import CoralButtonLink from "./CoralButtonLink.astro";
import CastLaughingBackground from "../images/CastLaughingBackground.png";

type Props = {
  nextShow: Show;
};

const { nextShow } = Astro.props;

const showDateFormatted = (() => {
  const showTime = new Date(nextShow.event_start);

  const dayOfTheWeek = format(showTime, "EEEE");
  const time = format(showTime, "h:mm a");
  const day = format(showTime, "LLL d");

  return `${dayOfTheWeek}, ${day} at ${time}`;
})();
---

<section
  class="relative flex flex-col-reverse items-center gap-4 lg:flex lg:flex-row lg:justify-around bg-shapes lg:px-12"
>
  <div class="flex flex-col gap-8 pt-8 lg:pt-0 px-4 lg:px-0">
    <div
      class="flex items-center gap-2 border-b-2 border-[#9470DC] w-fit mr-auto py-4"
    >
      <Icon name="calendar" />

      <p class="font-serif text-xl text-primary-purple font-semibold">
        {showDateFormatted}
      </p>
    </div>

    <h1 class="text-primary-purple text-6xl font-bold font-serif">
      {nextShow.listing_title}
    </h1>

    <p class="text-black text-xl">Show details</p>

    <CoralButtonLink href={nextShow.listing_url}>
      <Icon name="ticket" />Get Tickets
    </CoralButtonLink>
  </div>

  <Image
    src={nextShow.image}
    alt={nextShow.listing_title}
    width="650"
    height="366"
    class="lg:w-1/2 lg:min-w-[650px]"
  />

  <Image
    src={CastLaughingBackground}
    width="1598"
    height="847"
    alt="Cast members laughing"
    class="absolute -z-10 top-2/3 left-1/3"
  />
</section>
