---
import type { ShowListing } from "~/api/getShowListings";
import { formatEst } from "~/utils/formatEst";
import CalendarIcon from "../icons/calendar.svg";

type Props = {
  showDate: ShowListing["date"];
  class?: string;
};

const { showDate, class: className } = Astro.props;

const showDateFormatted = (() => {
  const dayOfTheWeek = formatEst(showDate, "EEEE");
  const time = formatEst(showDate, "h:mm a");
  const day = formatEst(showDate, "LLL d");

  return `${dayOfTheWeek}, ${day} at ${time}`;
})();
---

<div
  class="flex items-center gap-2 border-b-2 border-light-purple text-primary-purple"
  class:list={className}
>
  <CalendarIcon name="calendar" class="size-5" />

  <p class="font-serif font-semibold">
    {showDateFormatted}
  </p>
</div>
