---
import { Icon } from "astro-icon/components";
import type { ShowListing } from "~/api/getShowListings";
import { formatEst } from "~/utils/formatEst";

type Props = {
  showDate: ShowListing["date"];
  class?: string;
};

const { showDate, class: className } = Astro.props;

const showDateFormatted = (() => {
  const dayOfTheWeek = formatEst(showDate, "EEEE");
  const time = formatEst(showDate, "h:mm a");
  const day = formatEst(showDate, "LLL d");

  return `${dayOfTheWeek}, ${day} at ${time}`;
})();
---

<div
  class="flex items-center gap-2 border-b-2 border-light-purple"
  class:list={className}
>
  <Icon name="calendar" />

  <p class="text-primary-purple font-serif font-semibold">
    {showDateFormatted}
  </p>
</div>
