---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { format } from "date-fns";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { ShowListing } from "~/api/getShowListings";
import CoralButtonLink from "./CoralButtonLink.astro";

type Props = {
  showListing: ShowListing;
};

const { showListing } = Astro.props;

const showDateFormatted = (() => {
  const showTime = new Date(showListing.event_start);

  const dayOfTheWeek = format(showTime, "EEEE");
  const time = format(showTime, "h:mm a");
  const day = format(showTime, "LLL d");

  return `${dayOfTheWeek}, ${day} at ${time}`;
})();
---

<div
  class="rounded overflow-hidden shadow-lg p-2 bg-peach flex flex-col gap-4 flex-1 min-w-[315px]"
>
  <div class="group relative bg-black bg-opacity-10">
    <span
      class="text-center absolute z-10 inset-0 h-fit m-auto text-white opacity-0 transition-opacity group-hover:opacity-100"
      >{showListing.listing_title}</span
    >
    <Image
      src={showListing.image}
      alt={showListing.listing_title}
      width="295"
      height="165"
      class="w-full group-hover:opacity-20 transition-opacity"
    />
  </div>

  <div class="flex flex-col gap-4 px-2 text-lg max-h-[500px]">
    <div
      class="flex items-center gap-2 border-b-2 border-light-purple w-fit mr-auto py-4"
    >
      <Icon name="calendar" />

      <p class="text-primary-purple font-serif font-semibold">
        {showDateFormatted}
      </p>
    </div>

    {
      showListing.showDescription ? (
        <div
          class="wysiwyg overflow-auto"
          set:html={documentToHtmlString(showListing.showDescription)}
        />
      ) : null
    }
  </div>

  <p class="font-bold px-2">
    ${showListing.min_price}
  </p>

  <CoralButtonLink href={showListing.listing_url} class="w-full min-w-full">
    <Icon name="ticket" />Get Tickets
  </CoralButtonLink>
</div>
