---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { format } from "date-fns";
import type { Show } from "~/api/getShows";
import CoralButtonLink from "./CoralButtonLink.astro";

type Props = {
  show: Show;
};

const { show } = Astro.props;

const showDateFormatted = (() => {
  const showTime = new Date(show.event_start);

  const dayOfTheWeek = format(showTime, "EEEE");
  const time = format(showTime, "h:mm a");
  const day = format(showTime, "LLL d");

  return `${dayOfTheWeek}, ${day} at ${time}`;
})();
---

<div
  class="rounded overflow-hidden shadow-lg p-2 bg-peach flex flex-col gap-4 flex-1 min-w-[315px]"
>
  <span class="sr-only">{show.listing_title}</span>
  <Image
    src={show.image}
    alt={show.listing_title}
    width="295"
    height="165"
    class="w-full"
  />

  <div class="flex flex-col gap-4 px-2 text-lg">
    <div
      class="flex items-center gap-2 border-b-2 border-[#9470DC] w-fit mr-auto py-4"
    >
      <Icon name="calendar" />

      <p class="text-primary-purple font-serif font-semibold">
        {showDateFormatted}
      </p>
    </div>

    <p>Show details</p>
  </div>

  <p class="font-bold px-2">
    ${show.min_price}
  </p>

  <CoralButtonLink href={show.listing_url} class="w-full min-w-full">
    <Icon name="ticket" />Get Tickets
  </CoralButtonLink>
</div>
