---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { ShowListing } from "~/api/getShowListings";
import CoralButtonLink from "./CoralButtonLink.astro";
import ShowDateTime from "./ShowDateTime.astro";

type Props = {
  showListing: ShowListing;
};

const { showListing } = Astro.props;
---

<div
  class="rounded overflow-hidden shadow-lg p-2 bg-peach flex flex-col gap-4 flex-1 min-w-[315px] max-w-[500px]"
>
  <a
    href={showListing.listing_url}
    class="block group relative bg-black bg-opacity-10"
  >
    <span
      class="text-center absolute z-10 inset-0 h-fit m-auto text-white opacity-0 transition-opacity group-hover:opacity-100"
    >
      {showListing.listing_title}
    </span>
    <Image
      src={showListing.image}
      alt={showListing.listing_title}
      width={724}
      height={407}
      class="w-full group-hover:opacity-20 transition-opacity"
    />
  </a>

  <div class="flex flex-col gap-4 px-2 text-lg max-h-[500px]">
    <ShowDateTime
      showDate={showListing.event_start}
      class="w-fit mr-auto py-4"
    />

    {
      showListing.showDescription ? (
        <div
          class="wysiwyg overflow-auto"
          set:html={documentToHtmlString(showListing.showDescription)}
        />
      ) : null
    }
  </div>

  <p class="font-bold px-2">
    ${showListing.min_price}
  </p>

  <CoralButtonLink href={showListing.listing_url} class="w-full min-w-full">
    <Icon name="ticket" />Get Tickets
  </CoralButtonLink>
</div>
