---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

import type { ShowListing } from "~/api/getShowListings";

import CoralButtonLink from "./CoralButtonLink.astro";
import ShowDateTime from "./ShowDateTime.astro";
import LinkedImage from "./LinkedImage.astro";
import TicketIcon from "../icons/ticket.svg";

type Props = {
  showListing: ShowListing;
};

const { showListing } = Astro.props;
---

<div
  class="rounded overflow-hidden shadow-lg p-2 bg-peach flex flex-col gap-4 flex-1 min-w-[315px] max-w-[500px]"
>
  <LinkedImage
    listingImageSrc={showListing.image}
    listingTitle={showListing.name}
    href={showListing.listingUrl}
    width={724}
    height={407}
    class="w-full"
  />

  <div class="flex flex-col gap-4 px-2 text-lg max-h-[500px]">
    <ShowDateTime showDate={showListing.date} class="w-fit mr-auto py-4" />

    {
      showListing.showDescription ? (
        <div
          class="wysiwyg overflow-auto"
          set:html={documentToHtmlString(showListing.showDescription)}
        />
      ) : null
    }
  </div>

  <p class="font-bold px-2">
    {showListing.price}
  </p>

  <CoralButtonLink href={showListing.listingUrl} class="w-full min-w-full">
    <TicketIcon name="ticket" class="size-5" />Get Tickets
  </CoralButtonLink>
</div>
