---
import HeaderSection from "../components/HeaderSection.astro";
import HeaderLink from "../components/HeaderLink.astro";
import type { UpcomingShowCardProps } from "../../../storyblok/UpcomingShowCard.astro";

type Props = {
  nextShow: UpcomingShowCardProps;
};

const { nextShow } = Astro.props;

const teams = [
  "Improv Game Night",
  "SOS Improv",
  "Situationship",
  "The Fungibles",
  "Therapy Adjacent",
  "Third Place Brenda",
];
---

<div class="grid grid-cols-1 lg:grid-cols-3 justify-items-center gap-8">
  <HeaderSection title="Next Show">
    <div>
      <img
        src={nextShow.thumbnail.filename}
        alt={nextShow.thumbnail.alt}
        class="w-5/6 m-auto"
      />
    </div>
    <p class="mt-3 h-48 text-ellipsis overflow-hidden">
      {nextShow.description}
    </p>
    <a
      href={nextShow.ticketsLink.url}
      target={nextShow.ticketsLink.target}
      class="block w-fit text-sm mt-4 px-4 py-2 uppercase bg-white text-black rounded-full"
    >
      Get Tickets
    </a>
  </HeaderSection>
  <HeaderSection title="Performances">
    <ul class="flex flex-col gap-3 my-3 list-disc list-inside">
      <li>
        <HeaderLink href="#">Come see a show</HeaderLink>
      </li>
      <li>
        <HeaderLink href="#">Check out our videos</HeaderLink>
      </li>
    </ul>
    <h3 class="uppercase border-b border-b-slate-400 mt-8 text-slate-50">
      More Info
    </h3>
    <ul class="flex flex-col gap-3 my-3 list-disc list-inside">
      <li>
        <HeaderLink href="#">Our Performers</HeaderLink>
      </li>
      <li>
        <HeaderLink href="#">Frequently Asked Questions</HeaderLink>
      </li>
    </ul>
  </HeaderSection>
  <HeaderSection title="Teams">
    <p class="my-3">
      Learn more about the different teams you can see at CATCh, from house
      teams to independent regulars!
    </p>
    <ul class="grid grid-cols-2 gap-3 list-disc list-inside">
      {
        teams.map((team) => (
          <li>
            <HeaderLink href="#">{team}</HeaderLink>
          </li>
        ))
      }
    </ul>
  </HeaderSection>
</div>
