---
import { Icon } from "astro-icon/components";
import {
  addMonths,
  parseISO,
  format,
  subMonths,
  isSameMonth,
  setDate,
  isMatch,
} from "date-fns";
import { toDate as toDateTz } from "date-fns-tz";

import { getShowListings } from "~/api/getShowListings";
import { formatEst } from "~/utils/formatEst";

import RootLayout from "~/layouts/RootLayout.astro";
import ShowDateTime from "~/components/ShowDateTime.astro";
import CoralButtonLink from "~/components/CoralButtonLink.astro";
import LinkedImage from "~/components/LinkedImage.astro";
import RemixIcon from "~/components/RemixIcon.astro";

const fromDateParam = Astro.url.searchParams.get("from");

if (fromDateParam && !isMatch(fromDateParam, "yyyy-MM-dd")) {
  return Astro.redirect("/shows");
}

const now = toDateTz(Date.now(), { timeZone: "America/New_York" });

const fromDate: Date = (() => {
  const startDate = fromDateParam ? parseISO(fromDateParam) : null;
  if (startDate && startDate >= now) {
    return startDate;
  } else {
    return now;
  }
})();

const toDate = setDate(addMonths(fromDate, 1), 1);

const upcomingShows = await getShowListings({
  start: fromDate,
  end: toDate,
});

const startOfFromDateMonth = setDate(fromDate, 1);

const prevMonth: Date | null = (() => {
  const lastMonth = subMonths(startOfFromDateMonth, 1);
  if (lastMonth < now) {
    return null;
  } else {
    return lastMonth;
  }
})();

const prevMonthHref: URL = (() => {
  const destinationUrl = new URL(Astro.url);
  if (prevMonth) {
    destinationUrl.searchParams.set("from", format(prevMonth, "yyyy-MM-dd"));
  } else {
    destinationUrl.searchParams.delete("from");
  }
  return destinationUrl;
})();

const nextMonth = addMonths(startOfFromDateMonth, 1);
const nextMonthHref: URL = (() => {
  const destinationUrl = new URL(Astro.url);
  destinationUrl.searchParams.set("from", format(nextMonth, "yyyy-MM-dd"));
  return destinationUrl;
})();
---

<RootLayout title="Upcoming Shows" class="lg:px-16">
  <h1
    class="text-primary-purple text-6xl font-serif font-bold px-4 pt-8 pb-12 lg:pt-32 bg-shapes"
  >
    <a href="/shows">Calendar</a>
  </h1>
  <nav
    class="lg:border-b-2 border-light-purple pb-12 px-4 flex items-center gap-2"
  >
    {
      isSameMonth(fromDate, now) ? null : (
        <a
          href={prevMonthHref}
          aria-label="View the previous month's shows"
          class="hover:bg-purple-400/20 transition-colors rounded-md p-1"
        >
          <RemixIcon icon="arrow-left-s" variant="line" />
        </a>
      )
    }
    <h3
      class="text-primary-purple text-4xl font-serif font-bold flex items-center gap-2"
    >
      <Icon name="calendar" class="inline" />
      <span>
        {formatEst(fromDate, "MMMM")}
      </span>
    </h3>
    <a
      name="from"
      href={nextMonthHref}
      aria-label="View next month's shows"
      class="hover:bg-purple-400/20 transition-colors rounded-md p-1"
    >
      <RemixIcon icon="arrow-right-s" variant="line" />
    </a>
  </nav>
  <!-- desktop view -->
  <ul class="hidden flex-col lg:flex">
    {
      upcomingShows.map((show) => (
        <li class="flex items-center justify-between gap-24 px-6 py-12 border-b-2 border-light-purple">
          <div class="flex gap-12 items-center">
            <LinkedImage
              listingImageSrc={show.image}
              listingTitle={show.name}
              href={show.listingUrl}
              width={280}
              height={158}
              class="w-[280px] flex-shrink-0"
            />
            <div class="flex flex-col gap-4">
              <ShowDateTime showDate={show.date} class="w-fit pb-2" />
              <p class="font-serif text-3xl text-primary-purple">{show.name}</p>
            </div>
          </div>
          <div class="flex gap-12 items-center">
            <p class="font-serif text-primary-purple font-bold text-2xl">
              {show.price}
            </p>
            <CoralButtonLink href={show.listingUrl} class="w-fit pb-2">
              <Icon name="ticket" />
              Get Tickets
            </CoralButtonLink>
          </div>
        </li>
      ))
    }
  </ul>
  <!-- mobile view -->
  <ul class="flex flex-col gap-20 lg:hidden">
    {
      upcomingShows.map((show) => (
        <li class="flex flex-col items-center gap-6">
          <LinkedImage
            listingImageSrc={show.image}
            listingTitle={show.name}
            href={show.listingUrl}
            width={1280}
            height={720}
            class="w-full"
          />
          <div class="flex flex-col gap-4 px-4 self-start">
            <ShowDateTime showDate={show.date} class="w-fit pb-2" />
            <p class="font-serif text-3xl text-primary-purple">{show.name}</p>
          </div>
          <p class="font-serif text-primary-purple font-bold text-2xl">
            {show.price}
          </p>
          <div class="w-4/5">
            <CoralButtonLink href={show.listingUrl}>
              <Icon name="ticket" />
              Get Tickets
            </CoralButtonLink>
          </div>
        </li>
      ))
    }
  </ul>
</RootLayout>
