---
import { getUnixTime, addMonths } from "date-fns";
import { Icon } from "astro-icon/components";

import { getShowListings } from "~/api/getShowListings";

import RootLayout from "~/layouts/RootLayout.astro";
import { Image } from "astro:assets";
import ShowDateTime from "~/components/ShowDateTime.astro";
import CoralButtonLink from "~/components/CoralButtonLink.astro";

const upcomingShows = await getShowListings({
  from: getUnixTime(new Date()),
  to: getUnixTime(addMonths(new Date(), 1)),
});
---

<RootLayout layoutClass="lg:px-8">
  <h1
    class="text-primary-purple text-6xl font-serif font-bold px-4 pt-8 pb-12 lg:pt-32 lg:border-b-2 border-light-purple bg-shapes"
  >
    Calendar
  </h1>
  <!-- desktop view -->
  <ul class="hidden flex-col lg:flex">
    {
      upcomingShows.map((show) => (
        <li class="flex items-center justify-between gap-24 px-6 py-12 border-b-2 border-light-purple">
          <div class="flex gap-12 items-center">
            <Image
              src={show.image}
              alt={show.listing_title}
              width={280}
              height={158}
              class="w-[280px]"
            />
            <div class="flex flex-col gap-4">
              <ShowDateTime showDate={show.event_start} class="w-fit pb-2" />
              <p class="font-serif text-3xl text-primary-purple">
                {show.listing_title}
              </p>
            </div>
          </div>
          <div class="flex gap-12 items-center">
            <p class="font-serif text-primary-purple font-bold text-2xl">
              ${show.min_price}
            </p>
            <CoralButtonLink href={show.listing_url} class="w-fit pb-2">
              <Icon name="ticket" />
              Get Tickets
            </CoralButtonLink>
          </div>
        </li>
      ))
    }
  </ul>
  <!-- mobile view -->
  <ul class="flex flex-col gap-20 lg:hidden">
    {
      upcomingShows.map((show) => (
        <li class="flex flex-col items-center gap-6">
          <Image
            src={show.image}
            alt={show.listing_title}
            width={1280}
            height={720}
            class="w-full"
          />
          <div class="flex flex-col gap-4 px-4 self-start">
            <ShowDateTime showDate={show.event_start} class="w-fit pb-2" />
            <p class="font-serif text-3xl text-primary-purple">
              {show.listing_title}
            </p>
          </div>
          <p class="font-serif text-primary-purple font-bold text-2xl">
            ${show.min_price}
          </p>
          <div class="w-4/5">
            <CoralButtonLink href={show.listing_url}>
              <Icon name="ticket" />
              Get Tickets
            </CoralButtonLink>
          </div>
        </li>
      ))
    }
  </ul>
</RootLayout>
