---
import {
  addMonths,
  parseISO,
  format,
  subMonths,
  isSameMonth,
  setDate,
  isMatch,
} from "date-fns";
import { toDate as toDateTz } from "date-fns-tz";

import { getShowListings } from "~/api/getShowListings";

import RootLayout from "~/layouts/RootLayout.astro";
import RemixIcon from "~/components/RemixIcon.astro";
import CalendarIcon from "~/icons/calendar.svg";

import MobileListView from "./_views/MobileListView.astro";
import DesktopListView from "./_views/DesktopListView.astro";
import CalendarView from "./_views/CalendarView.astro";

const fromDateParam = Astro.url.searchParams.get("from");

if (fromDateParam && !isMatch(fromDateParam, "yyyy-MM-dd")) {
  return Astro.redirect("/shows");
}

const view = Astro.url.searchParams.get("view");
if (view && view !== "calendar") {
  return Astro.redirect("/shows");
}

const now = toDateTz(Date.now(), { timeZone: "America/New_York" });

const fromDate: Date = (() => {
  const startDate = fromDateParam ? parseISO(fromDateParam) : null;
  if (startDate && startDate >= now) {
    return startDate;
  } else {
    return now;
  }
})();

const toDate = setDate(addMonths(fromDate, 1), 1);

const upcomingShows = await getShowListings({
  start: fromDate,
  end: toDate,
});

const startOfFromDateMonth = setDate(fromDate, 1);

const prevMonth: Date | null = (() => {
  const lastMonth = subMonths(startOfFromDateMonth, 1);
  if (lastMonth < now) {
    return null;
  } else {
    return lastMonth;
  }
})();

const prevMonthHref: URL = (() => {
  const destinationUrl = new URL(Astro.url);
  if (prevMonth) {
    destinationUrl.searchParams.set("from", format(prevMonth, "yyyy-MM-dd"));
  } else {
    destinationUrl.searchParams.delete("from");
  }
  return destinationUrl;
})();

const nextMonth = addMonths(startOfFromDateMonth, 1);
const nextMonthHref: URL = (() => {
  const destinationUrl = new URL(Astro.url);
  destinationUrl.searchParams.set("from", format(nextMonth, "yyyy-MM-dd"));
  return destinationUrl;
})();

const changeViewHref = (() => {
  const destinationUrl = new URL(Astro.url);
  if (view && view === "calendar") {
    destinationUrl.searchParams.delete("view");
  } else {
    destinationUrl.searchParams.set("view", "calendar");
  }
  return destinationUrl;
})();
---

<RootLayout title="Upcoming Shows" class="lg:px-16">
  <h1
    class="text-primary-purple text-6xl font-serif font-bold px-4 pt-8 pb-12 lg:pt-32 bg-shapes"
  >
    <a href="/shows">Calendar</a>
  </h1>
  <nav class="pb-12 px-4 flex items-center justify-between">
    <div class="flex items-center gap-2">
      {
        isSameMonth(fromDate, now) ? null : (
          <a
            href={prevMonthHref}
            aria-label="View the previous month's shows"
            class="hover:bg-purple-400/20 transition-colors rounded-md p-1"
          >
            <RemixIcon icon="arrow-left-s" variant="line" />
          </a>
        )
      }
      <h3
        class="text-primary-purple text-4xl font-serif font-bold flex items-center gap-2"
      >
        <CalendarIcon name="calendar" class="size-9" />
        <span>
          {format(fromDate, "MMMM")}
        </span>
      </h3>
      <a
        name="from"
        href={nextMonthHref}
        aria-label="View next month's shows"
        class="hover:bg-purple-400/20 transition-colors rounded-md p-1"
      >
        <RemixIcon icon="arrow-right-s" variant="line" />
      </a>
    </div>
    <a
      href={changeViewHref}
      class="hidden lg:inline-block bg-coral hover:bg-[#B7433C] w-fit rounded-sm px-3 py-1 text-peach font-serif"
    >
      {view === "calendar" ? "View as list" : "View in calendar"}
    </a>
  </nav>
  <!-- desktop view -->
  <section
    class="hidden lg:block"
    class:list={{ "border-t-2 border-light-purple": view !== "calendar" }}
  >
    {
      view === "calendar" ? (
        <CalendarView
          visibleMonth={fromDate.getMonth()}
          visibleYear={fromDate.getFullYear()}
          upcomingShows={upcomingShows}
        />
      ) : (
        <DesktopListView upcomingShows={upcomingShows} />
      )
    }
  </section>
  <!-- mobile view -->
  <section class="lg:hidden">
    <MobileListView upcomingShows={upcomingShows} />
  </section>
</RootLayout>
