---
import { SEOMetadata } from "astro-seo-metadata";
import LaughingDotImage from "../images/laughing-dot.png";
import Tracking from "~/components/Tracking.astro";
import Header from "~/components/Header/Header.astro";
import Footer from "~/components/Footer/Footer.astro";
import "~/styles/custom-rules.scss";
import "~/styles/variables.css";

type Props = {
  title: string;
  class?: string;
};

const { title, class: className } = Astro.props;

const GTM_ID = "GTM-WQRTM3H3";

Astro.response.headers.set(
  "Cache-Control",
  // 10 minutes
  "public, max-age=600, must-revalidate",
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <SEOMetadata
      siteName="Comedy Arts Theater of Charlotte"
      title={`${title} | CATCh`}
      description="Join us at CATCh for Charlotte's best improv comedy shows & improv classes. $10 shows most Friday and Saturday nights!"
      image={LaughingDotImage.src}
      favicon="/favicon.ico"
      astroSitemap
      canonicalUrl={Astro.url.toString()}
      type="website"
      astroGenerator
    />
    <meta property="fb:app_id" content="1788375124760247" />

    <Tracking GTM_ID={GTM_ID} />
  </head>
  <body>
    <Header />
    <main class={className}>
      <slot />
    </main>
    <Footer />
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
